In [1]:
import os
os.chdir('/home/mackenzie/workspace/PycharmProjects/DAADRISE_AbusiveLangProject/featureExtraction/')

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
import seaborn as sns
import import_ipynb
from featurE_eng import getData

/home/mackenzie/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

importing Jupyter notebook from featurE_eng.ipynb
Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "11.0.2" 2019-01-15 LTS; Java(TM) SE Runtime Environment 18.9 (build 11.0.2+9-LTS); Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.2+9-LTS, mixed mode)
  Starting server from /home/mackenzie/anaconda3/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpe4gnp8lb
  JVM stdout: /tmp/tmpe4gnp8lb/h2o_mackenzie_started_from_python.out
  JVM stderr: /tmp/tmpe4gnp8lb/h2o_mackenzie_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       Europe/Vienna
H2O data parsing timezone:  UTC
H2O cluster version:        3.24.0.5
H2O cluster version age:    26 days
H2O cluster name:           H2O_from_python_mackenzie_gac33p
H2O cluster total nodes:    1
H2O cluster free memory:    1.922 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.7.1 final
--------------------------  ---------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
Break train into sequence of words
Parse progress: |█████████████████████████████████████████████████████████| 100%
Build word2vec model for train
word2vec Model Build progress: |██████████████████████████████████████████| 100%
Break test into sequence of words
Parse progress: |█████████████████████████████████████████████████████████| 100%
Build word2vec model for test
word2vec Model Build progress: |██████████████████████████████████████████| 100%
Completing ngram generation for train
   account_nc  act_nc  act like_nc  actual_nc  af_nc  ago_nc  ah_nc  al_nc  \
0           0       0            0          0      0       0      0      0
1           0       0            0          0      0       0      0      0
2           0       0            0          0      0       0      0      0
3           0       0            0          0      0       0      0      0
4           0       0            0          0      0       0      0      0

   almost_nc  alon_nc  ...  yellow_nc  yet_nc  yo_nc  yo ass_nc  yo bitch_nc  \
0          0        0  ...          0       0      0          0            0
1          0        0  ...          0       0      0          0            0
2          0        0  ...          0       0      0          0            0
3          0        0  ...          0       0      0          0            0
4          0        0  ...          0       0      0          0            0

   yo hoe_nc  young_nc  yr_nc  yu_nc  zebra_nc
0          0         0      0      0         0
1          0         0      0      0         0
2          0         0      0      0         0
3          0         0      0      0         0
4          0         0      0      0         0

[5 rows x 1000 columns]
Completing ngram generation for test
Completing char-ngram generation for train
Completing char-ngram generation for test
Completing tfidf+ngram generation for train
Completing tfidf+ngram generation for test
Completing char-tfidf+ngram generation for train
Completing char-tfidf+ngram generation for test
Completing the sentiment analysis for train
Completing the sentiment analysis for test
Completing the liguistic feature extraction for train
Completing the liguistic feature extraction for test
Completing the text stat scores extraction for train
Completing the text stat scores extraction for test
Concatenating in process
Did it!

In [3]:
# retrieve the features from the featureExtraction file
data = getData()
print(data.shape)

(19808, 4019)

In [4]:
# grab the features and target variable
X = data.iloc[:,0:4018]  #independent columns, change column number depending on what we have for shape
y = data.iloc[:,-1]    #target column i.e labels

In [5]:
# if nan values check
#print(np.where(np.isnan(X)))
#print(X.head())

In [6]:
# Univariate Selection -- apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=f_classif, k=100)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

# concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print('Univariate Selection results:')
print(featureScores.nlargest(100,'Score'))  #print 100 best features

Univariate Selection results:
          Specs        Score
76     bitch_nc  1880.111408
1342       bitc  1878.096858
1343      bitch  1878.096858
1022       bitc  1877.593354
1602      itch   1864.593042
1021        bit  1846.728725
1341        bit  1840.749266
1601       itch  1837.998935
1600        itc  1834.324330
1889       tch   1709.313722
1888        tch  1675.051534
1887         tc  1657.428884
3342       bitc  1530.192525
3343      bitch  1530.192525
3022       bitc  1529.876762
3602      itch   1529.871140
3601       itch  1518.734150
3600        itc  1517.178436
3021        bit  1511.387977
3341        bit  1509.217853
1361        ch   1483.234231
3889       tch   1480.486044
3888        tch  1470.295649
3887         tc  1463.245805
4000  sentiment  1374.773723
3361        ch   1363.410744
3598         it  1193.740148
1018         bi  1140.308383
3018         bi  1085.071235
1598         it  1058.805136
...         ...          ...
3265      aggot   640.282633
3490        ggo   640.282633
3491       ggot   640.282633
3492      ggot    640.282633
1487         gg   634.548911
1222        tra   633.329473
3222        tra   632.225707
3263        agg   630.281415
1311       ash    625.644394
3310        ash   607.220393
74      bird_nc   600.002107
1340      bird    599.956588
1339       bird   594.072442
1020       bird   594.043133
2293     faggot   586.167006
3340      bird    585.368957
3339       bird   583.193751
3020       bird   582.356401
1310        ash   581.084876
1593       ird    565.110878
2074       bird   562.116770
3593       ird    558.033491
3011          b   556.639192
1592        ird   555.959648
3922        tra   552.550895
3592        ird   550.479944
1922        tra   535.857188
3261         ag   534.038330
1800         ra   528.413911
1514         h    522.048688

[100 rows x 2 columns]

In [7]:
# Extract the top 100 features
a = featureScores.nlargest(100,'Score')
print(a.columns)
#print(a.iloc[0].name) # how to get the column # for the ith feature
#print(a.iloc[0][0]) # how to get the header column
top_univariate_features = pd.DataFrame()
for i in range(0, 100):
    curr_column_vals = X.iloc[:, a.iloc[i].name]
    curr_column_name = a.iloc[i][0]
    top_univariate_features[curr_column_name] = curr_column_vals
    
print(top_univariate_features.head())

Index(['Specs', 'Score'], dtype='object')
0    0
1    0
2    0
3    0
4    1
Name: bitch_nc, dtype: int64
bitch_nc
0    0
1    0
2    0
3    0
4    1
Name: bitc, dtype: int64
bitc
0    0
1    0
2    0
3    0
4    1
Name: bitch, dtype: int64
bitch
0    0
1    0
2    0
3    0
4    1
Name:  bitc, dtype: int64
 bitc
0    0
1    0
2    0
3    0
4    1
Name: itch , dtype: int64
itch
0    0
1    0
2    0
3    0
4    1
Name:  bit, dtype: int64
 bit
0    0
1    0
2    0
3    0
4    1
Name: bit, dtype: int64
bit
0    0
1    0
2    0
3    0
4    1
Name: itch, dtype: int64
itch
0    0
1    0
2    0
3    0
4    1
Name: itc, dtype: int64
itc
0    0
1    0
2    0
3    0
4    1
Name: tch , dtype: int64
tch
0    0
1    0
2    0
3    0
4    1
Name: tch, dtype: int64
tch
0    0
1    0
2    0
3    0
4    1
Name: tc, dtype: int64
tc
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: bitc, dtype: float64
bitc
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: bitch, dtype: float64
bitch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name:  bitc, dtype: float64
 bitc
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: itch , dtype: float64
itch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: itch, dtype: float64
itch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: itc, dtype: float64
itc
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name:  bit, dtype: float64
 bit
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: bit, dtype: float64
bit
0    0
1    0
2    0
3    0
4    1
Name: ch , dtype: int64
ch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: tch , dtype: float64
tch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: tch, dtype: float64
tch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: tc, dtype: float64
tc
0    0.0000
1   -0.4404
2   -0.5423
3   -0.2500
4   -0.6486
Name: sentiment, dtype: float64
sentiment
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: ch , dtype: float64
ch
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: it, dtype: float64
it
0    0
1    0
2    0
3    0
4    1
Name:  bi, dtype: int64
 bi
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name:  bi, dtype: float64
 bi
0    0
1    0
2    0
3    0
4    1
Name: it, dtype: int64
it
0    0
1    0
2    0
3    0
4    1
Name: bi, dtype: int64
bi
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: bi, dtype: float64
bi
0    0
1    0
2    0
3    0
4    0
Name:  fag, dtype: int64
 fag
0    0
1    0
2    0
3    0
4    0
Name: fag, dtype: int64
fag
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name:  fag, dtype: float64
 fag
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: ch, dtype: float64
ch
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: fag, dtype: float64
fag
0    0.0
1    0.0
2    0.0
3    0.0
4    0.1
Name: bitch, dtype: float64
bitch
0    0
1    0
2    0
3    0
4    1
Name: ch, dtype: int64
ch
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: gg, dtype: float64
gg
0    0
1    0
2    0
3    0
4    0
Name: trash_nc, dtype: int64
trash_nc
0    0
1    0
2    0
3    0
4    0
Name: rash , dtype: int64
rash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: rash , dtype: float64
rash
0    0
1    0
2    0
3    0
4    0
Name: ras, dtype: int64
ras
0    0
1    0
2    0
3    0
4    0
Name: tras, dtype: int64
tras
0    0
1    0
2    0
3    0
4    0
Name: rash, dtype: int64
rash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: rash, dtype: float64
rash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: tras, dtype: float64
tras
0    0
1    0
2    0
3    0
4    0
Name:  tras, dtype: int64
 tras
0    0
1    0
2    0
3    0
4    0
Name: trash, dtype: int64
trash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name:  tras, dtype: float64
 tras
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: trash, dtype: float64
trash
0    0.00
1    0.00
2    0.00
3    0.00
4    0.05
Name: h , dtype: float64
h
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ras, dtype: float64
ras
0    0
1    0
2    0
3    0
4    0
Name: faggot_nc, dtype: int64
faggot_nc
0    0
1    0
2    0
3    0
4    0
Name:  fagg, dtype: int64
 fagg
0    0
1    0
2    0
3    0
4    0
Name: fagg, dtype: int64
fagg
0    0
1    0
2    0
3    0
4    0
Name: faggo, dtype: int64
faggo
0    0
1    0
2    0
3    0
4    0
Name: aggo, dtype: int64
aggo
0    0
1    0
2    0
3    0
4    0
Name: aggot, dtype: int64
aggot
0    0
1    0
2    0
3    0
4    0
Name: ggo, dtype: int64
ggo
0    0
1    0
2    0
3    0
4    0
Name: ggot, dtype: int64
ggot
0    0
1    0
2    0
3    0
4    0
Name: ggot , dtype: int64
ggot
0    0
1    0
2    0
3    0
4    0
Name: agg, dtype: int64
agg
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: trash, dtype: float64
trash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ash , dtype: float64
ash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name:  fagg, dtype: float64
 fagg
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: fagg, dtype: float64
fagg
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: faggo, dtype: float64
faggo
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: aggo, dtype: float64
aggo
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: aggot, dtype: float64
aggot
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ggo, dtype: float64
ggo
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ggot, dtype: float64
ggot
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ggot , dtype: float64
ggot
0    0
1    0
2    0
3    0
4    0
Name: gg, dtype: int64
gg
0    0
1    0
2    0
3    0
4    0
Name:  tra, dtype: int64
 tra
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name:  tra, dtype: float64
 tra
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: agg, dtype: float64
agg
0    0
1    0
2    0
3    0
4    0
Name: ash , dtype: int64
ash
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ash, dtype: float64
ash
0    0
1    0
2    0
3    0
4    0
Name: bird_nc, dtype: int64
bird_nc
0    0
1    0
2    0
3    0
4    0
Name: bird , dtype: int64
bird
0    0
1    0
2    0
3    0
4    0
Name: bird, dtype: int64
bird
0    0
1    0
2    0
3    0
4    0
Name:  bird, dtype: int64
 bird
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: faggot, dtype: float64
faggot
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: bird , dtype: float64
bird
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: bird, dtype: float64
bird
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name:  bird, dtype: float64
 bird
0    0
1    0
2    0
3    0
4    0
Name: ash, dtype: int64
ash
0    0
1    0
2    0
3    0
4    0
Name: ird , dtype: int64
ird
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: bird, dtype: float64
bird
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ird , dtype: float64
ird
0    0.00
1    0.00
2    0.09
3    0.00
4    0.04
Name:  b, dtype: float64
 b
0    0
1    0
2    0
3    0
4    0
Name: ird, dtype: int64
ird
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: tra, dtype: float64
tra
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ird, dtype: float64
ird
0    0
1    0
2    0
3    0
4    0
Name: tra, dtype: int64
tra
0    0.00
1    0.00
2    0.00
3    0.08
4    0.00
Name: ag, dtype: float64
ag
0    0
1    0
2    0
3    1
4    0
Name: ra, dtype: int64
ra
0    0
1    0
2    0
3    0
4    1
Name: h , dtype: int64
h
   bitch_nc  bitc  bitch   bitc  itch    bit   bit  itch   itc  tch   ...  \
0         0  0.00    0.0   0.00   0.00  0.00  0.00  0.00  0.00  0.00  ...
1         0  0.00    0.0   0.00   0.00  0.00  0.00  0.00  0.00  0.00  ...
2         0  0.00    0.0   0.00   0.00  0.00  0.00  0.00  0.00  0.00  ...
3         0  0.00    0.0   0.00   0.00  0.00  0.00  0.00  0.00  0.00  ...
4         1  0.05    0.1   0.05   0.05  0.05  0.05  0.05  0.05  0.05  ...

   bird   bird   bird  faggot  ird      b  ird  tra    ag  ra
0    0.0   0.0    0.0     0.0   0.0  0.00  0.0    0  0.00   0
1    0.0   0.0    0.0     0.0   0.0  0.00  0.0    0  0.00   0
2    0.0   0.0    0.0     0.0   0.0  0.09  0.0    0  0.00   0
3    0.0   0.0    0.0     0.0   0.0  0.00  0.0    0  0.08   1
4    0.0   0.0    0.0     0.0   0.0  0.04  0.0    0  0.00   0

[5 rows x 53 columns]
0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        1
8        0
9        1
10       1
11       1
12       1
13       1
14       1
15       0
16       1
17       0
18       1
19       0
20       1
21       0
22       0
23       1
24       1
25       1
26       1
27       0
28       0
29       1
        ..
19778    1
19779    0
19780    0
19781    0
19782    0
19783    0
19784    0
19785    0
19786    1
19787    1
19788    1
19789    0
19790    0
19791    1
19792    0
19793    0
19794    0
19795    0
19796    0
19797    0
19798    0
19799    0
19800    1
19801    0
19802    0
19803    1
19804    0
19805    0
19806    1
19807    0

Name:  bit, Length: 19808, dtype: int64

In [10]:
print(top_univariate_features.shape)

(19808, 53)

In [8]:
# Feature Importance 
model = ExtraTreesClassifier(n_estimators=100)
model.fit(X,y)
print('Feature Importance results:')
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers

#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
print(feat_importances.nlargest(100))

#feat_importances.nlargest(100).plot(kind='barh')
#plt.show()

Feature Importance results:
[1.34278420e-05 5.81810269e-05 2.94981213e-05 ... 2.59844023e-03
 1.32108141e-03 1.79478074e-03]
itc                             0.008438
 hoe                            0.008413
hoe                             0.007615
bit                             0.007552
ch                              0.007375
 bitc                           0.007184
bit                             0.007049
hoe_nc                          0.006804
hoe                             0.006617
bitch                           0.006571
itch                            0.006466
 hoe                            0.005834
bitch                           0.005611
itch                            0.005602
bitc                            0.005584
sentiment                       0.005498
hoe                             0.005401
tch                             0.005166
oe                              0.005157
bitc                            0.005087
tch                             0.004970
 hoe                            0.004901
bitch_nc                        0.004878
bi                              0.004861
oe                              0.004768
 bit                            0.004214
itch                            0.004083
 ho                             0.003990
 hoe                            0.003966
h                               0.003862
                                  ...
bird                            0.002047
fuc                             0.002038
or                              0.002036
yanke                           0.002024
number of words                 0.001981
flesch kincaid grade            0.001974
 bi                             0.001955
yellow                          0.001952
bird                            0.001931
yellow_nc                       0.001930
trash_nc                        0.001928
h                               0.001925
trash                           0.001914
charli                          0.001894
ch                              0.001892
rash                            0.001888
ch                              0.001878
nig                             0.001852
rash                            0.001851
 tra                            0.001830
flesch reading ease             0.001828
ra                              0.001827
dale chall readability score    0.001795
charli_nc                       0.001728
sh                              0.001727
 bi                             0.001703
tras                            0.001695
ras                             0.001678
 fag                            0.001674
fuc                             0.001661
Length: 100, dtype: float64

In [9]:
# Correlation Matrix with Heatmap -- get correlations of each features in dataset
#corrmat = data.corr()
#top_corr_features = corrmat.index
#plt.figure(figsize=(20,20))
#plot heat map
#g=sns.heatmap(data[top_corr_features].corr(),annot=True,cmap="RdYlGn")